
<h1>Welcome to 99Cats, <%= @user.user_name %></h1>
<p>
  You have successfully signed up to 99cats.com. <br>
</p>
<p>
  To login to the site, just follow this link: <%= @url %>.
</p>
<p>
  Thanks for joining, have a great day!
</p>
