<h1>File new rental request!</h1>


<form action="<%= cat_rental_requests_url %>" method=post>

  <label for="cat">Cat</label>
  <select name="request[cat_id]">
    <option disabled selected>-- please select cat --</option>
    <% @cats.each do |cat| %>
        <option value="<%= cat.id %>"><%= cat.name %></option>
    <% end %>
  </select>
  
  <br><br>

  <label for="start_date">Start Date</label>
  <input id="start_date" type="date" name="request[start_date]">
  
  <br><br>

  <label for="end_date">End Date</label>
  <input id="end_date" type="date" name="request[end_date]">
  
  <br><br>

  <input type="submit" value="File rental request">

</form>

<%= content_for :footer do %>
  <p>This is the new rental request page.</p>
<% end %>
