<h1>All the Cats!</h1>

<ul>
  <% @cats.each do |cat| %>
    <li><a href=<%= "http://localhost:3000/cats/#{cat.id}" %> ><%= cat.name %></a></li>
  <% end %>
</ul>

<form action="<%= new_cat_url %>" method="get">
  <input type="submit" value="Add Cat!">
</form>