<h1>Add Cat to List!</h1>

<%= render 'form', cat: @cat, action: :new %>

<!--
<form action="<%= cats_url %>" method=post>
  <label for="name">Name</label>
  <input id="name" type="text" name="cat[name]">
  
  <br><br>

  <label for="birth_date">Birth Date</label>
  <input id="birth_date" type="date" name="cat[birth_date]">
  
  <br><br>

  <label for="color">Color</label>
  <select name="cat[color]">
    <option disabled selected>-- please select color --</option>
    <option value="White">White</option>
    <option value="Black">Black</option>
    <option value="Orange">Orange</option>
  </select>
  
  <br><br>

  <label for="sex">Sex</label><br>
  <input id="male" type="radio" name="cat[sex]" value="M">
  <label for="male">Male</label><br>
  <input id="female" type="radio" name="cat[sex]" value="F">
  <label for="female">Female</label>
  
  <br><br>

  <label for="description">Description</label>
  <textarea name="cat[description]"></textarea>
  
  <br><br>

  <input type="submit" value="Add cat to list">

</form>
-->